.app-map {
    width: 100%;
    min-height: 100vh;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.app-map-map {
    flex: 1;
    min-width: 350px;
    min-height: 700px;
}

.app-map-control {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app-map-control > .app-map-search-route {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem;
}
