:root {
    --primary-50: #FEFFFF;
    --primary-100: #DEF2F1;
    --primary-200: #51d8d0;
    --primary-300: #15c2b5;
    --primary-500: #3AAFA9;
    --primary-600: #006760;
    --primary-700: #17252A;
}
