.data-field {
    color: var(--primary-700);
    border-radius: 25px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    position: relative;
    width: 300px;
    align-items: center;
}

.data-field > span {
    padding: 1rem;
    border-radius: 25px;
    transition: all 0.3s;
}

.data-field > label {
}
