
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#app-map {
    width: 100vw;
    height: 100vh;
}

.map-overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
}

.material-icons {
    color: #0078A8;
}
