@import "./styles/colors.css";
@import "./styles/helper.css";
@import "./styles/button.css";
@import "./styles/text-field.css";
@import "./styles/app-introduction.css";
@import "./styles/app-navbar.css";
@import "./styles/app-images.css";
@import "./styles/app-video.css";
@import "./styles/app-map.css";
@import "./styles/app-footer.css";

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

html {
    display: flex;
    justify-content: center;
}

body, button, input {
    font-family: 'Lato', sans-serif !important;
}

* {
    box-sizing: border-box;
}

.material-icons {
    color: #0078A8;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*@media (min-width: 576px) {*/
/*    body {*/
/*        max-width: 576px;*/
/*    }*/

/*}*/

/*@media (min-width: 768px) {*/
/*    body {*/
/*        max-width: 768px;*/
/*    }*/
/*}*/

/*@media (min-width: 992px) {*/
/*    body {*/
/*        max-width: 992px;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    body {*/
/*        max-width: 1200px;*/
/*    }*/
/*}*/

/*@media (min-width: 1400px) {*/
/*    body {*/
/*        max-width: 1400px;*/
/*    }*/
/*}*/


